h3 , h2 ,h1{
    margin: 0;
}

.choose-tour{
    margin-top: 135px;
    padding:0 39px;
}

.choose-tour-nav{
    max-width: 710px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.choouse-tour-list{
    display: flex;
    justify-content: space-between;
}

.tour-heading{
    font-size: 59px;
    font-weight: 700;
    line-height: 73.76px;
    color: black;
}

.tour-list-item {
    font-size: 23px;
    font-weight: 700;
    line-height: 28.06px;
}

.tour-list-item
{
    padding: 5px;
}

.tour-list-item-heading{
    color: black;
    position: relative;
}


.tour-list-item-heading::after{
    content: "";
    display: block;
    width: 100%;
    opacity: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 100%;
    z-index: 1;

    transition: opacity .1s linear;
}

.tour-list-item-heading:hover::after{
    opacity: 1;
}

.tour-list-item-heading:active::after {
    color: #EFA501;
    background-color: #EFA501;
}

.tour-list-item-heading:active{
    color: #EFA501;
}

@media (max-width: 750px) {
    .choose-tour {
        padding-top: 75px;
    }

    .choose-tour-nav {
        max-width: 500px;
    }

    .tour-heading {
        font-size: 34px;
        font-weight: 700;
        line-height: 38.08px;
        letter-spacing: 0.5px;
    }

    .tour-list-item {
        font-size: 16px;
        font-weight: 700;
        line-height: 21.72px;
    }

    .choouse-tour-list {
        flex-wrap: wrap;
    }
}

@media (max-width: 530px) {
    .choouse-tour-list {
        justify-content: center;
    }

    .choose-tour-nav {
        max-width: 710px;
        width: 100%;
        margin: 0 auto;
        margin-top: 27px;
    }
}


/* //////////////////////////////// */

.choouse-tour{
    margin-top: 100px;
}

.choouse-tour-container-lower{
    padding: 0px 53px;
}

.choouse-tour-list-lower{
    margin: 0 -15px;
	display: flex;
	flex-wrap: wrap;
}

.choouse-tour-list-lower-item{
	width: calc(100% / 3 - 30px);
	margin-bottom: 28px;
    border-radius: 50px;
    cursor: pointer;
}

.col {
    margin-left: 15px;
	margin-right: 15px;
	box-sizing: border-box;
}

.writings {
    max-width: 230px;
    width: 100%;
    margin-left: 50px;
}

.writings-heading {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 42.7px;
    font-weight: 500;
    color: #fff;
}

.money {
    font-size: 17px;
    font-weight: 400px;
    line-height: 24.14px;
    margin-top: 16px;
    margin-bottom: 0px;
    color: #fff;
}

.writings-lower{
    margin-top: 270px;
    display: inline-block;
    margin-left: -20px;
    margin-bottom: 46px;
}

.lower-btn{
    display: flex;
    background-color: #286562;
    align-items: center;
    padding: 7px 20px;
    border-radius: 50px;
    background: transparent;
}

.podrobnee{
    margin-right: 16px;
    font-size: 23px;
    line-height: 28.06px;
    font-weight: 700;
    color: #fff;
}

.back1{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/img/cardtourphoto1.jpg");
    background-position-y: center;
    background-position-x: center;
    background-size: 102%;
    transition: 300ms;
}

.back2{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/img/cardtourphoto2.jpg");
    background-position-y: center;
    background-position-x: center;
    background-size: 102%;
    transition: 300ms;
    
}

.back3{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/img/cardtourphoto3.jpg");
    background-position-y: center;
    background-position-x: center;
    background-size: 102%;
    transition: 300ms;
    

}
.back4{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/img/cardtourphoto4.jpg");
    background-position-y: center;
    background-position-x: center;
    background-size: 102%;
    transition: 300ms;
    
}
.back5{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/img/cardtourphoto5.jpg");
    background-position-y: center;
    background-position-x: center;
    background-size: 102%;
    transition: 300ms;
    
}
.back6{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/img/cardtourphoto6.jpg");
    background-position-y: center;
    background-position-x: center;
    background-size: 102%;
    transition: 300ms;
    
}

.back1:hover , .back2:hover , .back3:hover , .back4:hover , .back5:hover , .back6:hover{
    background-size: 122%;
    transition: 300ms;
}

.back1:hover .lower-btn , .back2:hover .lower-btn , .back3:hover .lower-btn
, .back4:hover .lower-btn , .back5:hover .lower-btn , .back6:hover .lower-btn
{
    background-color: #286562;
}

.back1:hover .lower-btn:active , .back2:hover .lower-btn:active , .back3:hover .lower-btn:active,
.back4:hover .lower-btn:active , .back5:hover .lower-btn:active , .back6:hover .lower-btn:active
{
    background-color: #EFA501;
}

@media (max-width: 1100px) {
    .choouse-tour-list-lower-item{
        width: calc(100% / 2 - 20px);
        margin-bottom: 16px;
        border-radius: 50px;
    }

    .writings {
        max-width: 350px;
    }

    .writings-lower {
        margin-top: 312px;
    }

    .choouse-tour-list-lower{
        margin: 0 -10px;
    }

    .col {
        margin-left: 10px;
        margin-right: 10px;
    }

    .back1 , .back2 , .back3 , .back4 , .back5 , .back6{
        background-size: cover;
    }

    .back1:hover , .back2:hover , .back3:hover , .back4:hover , .back5:hover , .back6:hover{
        background-size: cover;
    }
}



@media (max-width: 950px) {
    .writings {
        max-width: 320px;
        margin-left: 25px;
    }
}
@media (max-width: 700px) {

    .choouse-tour-container-lower {
        padding: 0px 21px;
    }


    .choouse-tour-list-lower-item{
        width: calc(100% / 1 - 20px);
        border-radius: 20px;
    }

    .writings-heading {
        font-size: 23px;
        font-weight: 700;
        line-height: 27.6px;
        margin-top: 25px;
        letter-spacing: 1px;
    }

    .podrobnee{
        font-size: 16px;
        font-weight: 700;
        line-height: 22.72px;
    }

    .choose-tour{
        margin-top: 0px;
    }

    .choouse-tour {
        margin-top: 45px;
    }

    .writings-lower {
        margin-top: 170px;
        margin-bottom: 21px;
    }

    .money {
        letter-spacing: -0.5px;
        line-height: 23.72px;
    }
}



