footer {
    margin-top: 28px;
    background-color: #F4F0E9; 
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
}

.footer-nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-list-item{
    display: flex;
    align-items: center;
}

.footer-nav-list-item:not(:last-child){
    margin-right: 31px;
}

.footer-nav-list-item:nth-child(1) {
    margin-right: 38px;
}

.footer-img , .footer-img3{
    margin-right: 12px;
}

.footer-img2 {
    margin-right: 15px;
}


.description-footer{
    font-size: 20px;
    font-weight: 400;
    line-height: 28.4px;
    color: #A6A6A6;
}

.black-to-yellow{
    font-size: 20px;
    font-weight: 400;
    line-height: 28.4px;
    color: #1B1F2B;
}

.black-to-yellow{
    color: black;
    position: relative;
}

.black-to-yellow:after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: black;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.black-to-yellow:hover::after{
    opacity: 1;
}

.black-to-yellow:active{
    color: #EFA501;
}

.black-to-yellow:active::after{
    color: #EFA501;
    background-color: #EFA501;
}

@media (max-width: 1024px){
 
.footer {
    padding: 0 53px;
    }   
}

@media (max-width: 750px) {
    footer {
        margin-top: -173px;
    }
    
    .footer {
        flex-direction: column;
    }

    .description-footer , .black-to-yellow{
        font-size: 16px;
        line-height: 142%;
    }

    .description-footer{
        margin-top: 22px;
        margin-bottom: 7px;
    }

    .footer-img {
        width: 10.77px;
        height: 10.77px;
        margin-right: 8px;
    }

    .footer-img2{
        width: 6.15px;
        height: 13.08px;
        margin-right: 8px;
    }

    .footer-right{
        padding-bottom: 13px;
    }
    

    .footer-img3 {
        width: 15.38px;
        height: 9.23px;
        margin-right: 8px;
    }

    .footer-nav-list-item:not(:last-child) {
        margin-right: 17px;
    }

    .footer-nav-list-item:nth-child(1) {
        margin-right: 25px;
    }

}
