/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */

  }
  /* roboto-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */

  }
  /* roboto-700 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */

  }

/* Base */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* body{
    width: 100%;
} */


body , html {
    font-family: "Roboto" , sans-serif;
    background-color: #F9F7F4;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.button{
    margin-bottom: 124px;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
} 


/* Header */




.container {
    max-width: 1170px;
    margin: 0 auto;
    /* padding: 0px 15px; */
    box-sizing: content-box;
    overflow: hidden;
}


.text-center{
    text-align: center;
}

.page {
    flex: 1 1 auto;
}





/*/////////////////////Header///////////////////////////////////////////*/



/* .choouse-tour-list {
    flex-wrap: wrap;
}


.back1{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    background-size: 370px 531px;
    background-position-y: center;
    background-position-x: center;
    transition: 300ms ease;
    margin-right: 30px;
    width: 100%;
}

.back2{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/travel-photo.webp");
    background-size: 370px 531px;
    background-position-y: center;
    background-position-x: center;
    transition: 300ms ease;
    margin-right: 30px;
}

.back3{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/cardtourphoto3.jpg");
    background-size: 370px 531px;
    background-position-y: center;
    background-position-x: center;
    transition: 300ms ease;
    padding-right: 30px;

}
.back4{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/cardtourphoto4.jpg");
    background-size: 370px 531px;
    background-position-y: center;
    background-position-x: center;
    transition: 300ms ease;
    margin-right: 30px;

}
.back5{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/cardtourphoto5.jpg");
    background-size: 370px 531px;
    background-position-y: center;
    background-position-x: center;
    transition: 300ms ease;
    margin-right: 30px;

}
.back6{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%) , url("/cardtourphoto6.jpg");
    background-size: 370px 531px;
    background-position-y: center;
    background-position-x: center;
    transition: 300ms ease;


}

.hover-img{
    background-size: 370px 531px;
}

.hover-img:hover{
    background-size: 444px 637px;
    transition: 300ms ease;
}

.hover-img::after:hover {}



.tour-list-pictures-heading{
    margin-top: 30px;
}



.xyi {
    margin: 0 auto;
    margin-left: 50px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    line-height: 28.06px;
    font-weight: 700;
    color: #fff;
}

.penis {
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 42.7px;
    font-weight: 500;
    color: #fff;
}

.vector {
    margin-left: 13px;
    align-items: center;
    height: 15px;
    width: 22px;
}

.money {
    font-size: 17px;
    font-weight: 400px;
    line-height: 24.14px;
    margin-top: 16px;
    margin-left: 50px;
    margin-bottom: 0px;
    color: #fff;
    margin-bottom: 277px;
}

/* .hover-img:hover{
    transform: scale(1.2);
    transition: 300ms ease;
} */
/* @media (max-width: 1200px) {

    .back2 {
        margin-right: 0px;
    }

    .back3 {
        padding-right: 0px;
        margin-right: 20px;
    }


    .back4 {
        margin-right: 0px;
    }

    .back1 {
        margin-right: 22px;
    }

    .back5{
        margin-right: 20px;
    }

    .choose-tour-container {
        padding: 0 40px;
    }

    .penis {
        margin-right: 50px
    }

    .money {
        margin-bottom: 317px;
    }

    .choouse-tour-list {
        margin-bottom: 87px;
    }

    .tour-list-pictures-heading {
        margin-top: 18px;
    }

    .hover-img {
        background-size: 446px 648px;
    }

}

@media (max-width: 360px) {
    .choose-tour {
        padding-top: 75px;
    }

    .tour-heading {
        font-size: 35px;
        font-weight: 700;
        line-height: 38.08px;
    }

    .tour-list-item {
        font-size: 16px;
        font-weight: 700;
        line-height: 21.72px;
    }

    .choouse-tour-list {
        flex-wrap: wrap;
    }

    .tour-list-item:not(:last-child){
        margin-right: 12px;
        margin-bottom: 6px;
    }



/* @media  (max-width: 1024px) {

    .body {
        width: 1024px;
    }


    .nav-item {
        margin-right: 30px;
    }

    .header{
        width: 1024px;
    }

    .container {
        width: 914px;
        align-items: center;
    }

    .nav-item:nth-child(1){
        margin-left: 82px;
    }

    .nav-item:nth-child(4) {
        margin-right: 82px;
    }

    

    .iii{
        display: none;
    }

    .hover-img{
        background-size: 450px 531px;
    }

    .back3 {
        margin-right: 30px;
    }

    .back2 {
        margin-right: 0px;
    }

    .back4 {
        margin-right: 0px;
    }

    .back1 {
        margin-right: 22px;
    }
    
    .penis{
        margin-right: 30px;
    }

    .money{
        margin-bottom: 318px;
    }

    

    

}

@media  (max-width: 360px) {
    .nav-item {
        display: none;
    }
}
     */