/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */

  }
  /* roboto-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */

  }
  /* roboto-700 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */

  }

/* Base */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

/* body{
    width: 100%;
} */


body , html {
    font-family: "Roboto" , sans-serif;
    background-color: #F9F7F4;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.button{
    margin-bottom: 124px;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
} 


/* Header */




.container {
    max-width: 1170px;
    margin: 0 auto;
    /* padding: 0px 15px; */
    box-sizing: content-box;
    overflow: hidden;
}


.text-center{
    text-align: center;
}

.page {
    flex: 1 1 auto;
}

